table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  .time {
    background-color: yellow;
  }
  .subject1 {
    background-color: rgb(224, 128, 128);
}
.subject2 {
    background-color: rgb(23, 164, 189);
}
.subject3 {
    background-color: blue;
}
.subject4 {
    background-color: orange;
}
.subject5 {
    background-color: rgb(167, 148, 167);
}
.subject6 {
    background-color: pink;
}
.break {
    background-color: rgb(160, 160, 160);
}

  